body {
  &::before {
    content: "";

    background-image: radial-gradient(
        at center,
        transparent,
        var(--color-surface-1) 80%
      ),
      linear-gradient(
        var(--color-border-2) 1px,
        transparent 1px,
        transparent 99px,
        var(--color-border-2) 99px
      ),
      linear-gradient(
        90deg,
        var(--color-border-2) 1px,
        transparent 1px,
        transparent 99px,
        var(--color-border-2) 99px
      );
    background-position:
      center,
      50px 50px,
      50px 50px;
    background-size:
      100vw 100vh,
      100px 100px,
      100px 100px;
    background-repeat: no-repeat, repeat, repeat;

    position: absolute;
    inset: 0;
    z-index: -1;
  }
}
