/* Styles Specific to Dark Theme */
:root {
  color-scheme: dark;

  --hue: 48deg;
  --sat: 4%;
  --satter: 97%;

  --color-surface-body: hsl(var(--hue) var(--sat) 10%);
  --color-surface-floating: hsl(var(--hue) var(--sat) 14%);
  --color-surface-floating-hover: hsl(var(--hue) var(--sat) 20%);
  --color-surface-fade: hsl(var(--hue) var(--sat) 20%);
  --color-surface-disabled: hsl(var(--hue) var(--sat) 30%);

  --color-surface-accordion: hsl(var(--hue) var(--sat) 12%);
  --color-surface-accordion-hover: hsl(var(--hue) var(--sat) 16%);
  --color-surface-accordion-expanded: hsl(var(--hue) var(--sat) 20%);

  --color-text-1: hsl(var(--hue) var(--sat) 98%);
  --color-text-2: hsl(var(--hue) var(--sat) 80%);
  --color-text-3: hsl(var(--hue) var(--sat) 70%);
  --color-text-disabled: hsl(var(--hue) var(--sat) 40%);

  --color-border-1: hsl(var(--hue) var(--sat) 30%);
  --color-border-2: hsl(var(--hue) var(--sat) 20% / 20%);

  --color-primary: hsl(var(--hue) var(--satter) 40%);
  --color-primary-fade: hsl(var(--hue) var(--satter) 96%);
  --color-primary-lighter: hsl(var(--hue) var(--satter) 50%);
  --color-primary-darker: hsl(var(--hue) var(--satter) 34%);
  --color-primary-opposite: hsl(var(--hue) var(--satter) 10%);
}

/* Common Styles Used by Both Dark and Light Theme */
:root {
  --transparent-light: hsl(var(--hue) var(--sat) 98% / 0%);
  --transparent-dark: hsl(var(--hue) var(--sat) 10% / 0%);

  --glass-light: hsl(var(--hue) var(--sat) 98% / 6%);
  --glass-dark: hsl(var(--hue) var(--sat) 10% / 10%);

  --gradient-primary: linear-gradient(
    -135deg,
    hsl(var(--hue) var(--satter) 60%),
    hsl(var(--hue) var(--satter) 50%),
    hsl(var(--hue) var(--satter) 40%)
  );

  --shadow-300: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-400: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-500: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-700: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-800: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-900: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

/* Styles Specific to Light Theme */
:root {
  &:has(.light) {
    color-scheme: light;

    --hue: 120deg;
    --sat: 26%;
    --satter: 70%;

    --color-surface-body: hsl(var(--hue) var(--sat) 98%);
    --color-surface-floating: hsl(var(--hue) var(--sat) 94%);
    --color-surface-floating-hover: hsl(var(--hue) var(--sat) 90%);
    --color-surface-fade: hsl(var(--hue) var(--sat) 90%);
    --color-surface-disabled: hsl(var(--hue) var(--sat) 40%);

    --color-surface-accordion: hsl(var(--hue) var(--sat) 90%);
    --color-surface-accordion-hover: hsl(var(--hue) var(--sat) 85%);
    --color-surface-accordion-expanded: hsl(var(--hue) var(--sat) 80%);

    --color-text-1: hsl(var(--hue) var(--sat) 10%);
    --color-text-2: hsl(var(--hue) var(--sat) 20%);
    --color-text-3: hsl(var(--hue) var(--sat) 30%);
    --color-text-disabled: hsl(var(--hue) var(--sat) 70%);

    --color-border-1: hsl(var(--hue) var(--sat) 80%);
    --color-border-2: hsl(var(--hue) var(--sat) 80% / 20%);

    --color-primary: hsl(var(--hue) var(--satter) 60%);
    --color-primary-fade: hsl(var(--hue) var(--satter) 96%);
    --color-primary-lighter: hsl(var(--hue) var(--satter) 70%);
    --color-primary-darker: hsl(var(--hue) var(--satter) 54%);
    --color-primary-opposite: hsl(var(--hue) var(--satter) 98%);
  }
}

/* Customized Based on Page Content */
:root {
  &:has(#react) {
    color-scheme: dark;

    --hue: 191deg;
    --sat: 16%;
    --satter: 65%;
  }

  &:has(#next) {
    color-scheme: dark;

    --hue: 0deg;
    --sat: 0%;
    --satter: 0%;
  }

  &:has(#dsad) {
    color-scheme: light;

    --hue: 200deg;
    --sat: 26%;
    --satter: 70%;
  }
}
