.week {
  .session {
    h4 {
      margin-block-end: 1rem;
      padding-block-end: 0.5rem;

      border-block-end: 1px solid var(--color-gray-30);

      font-weight: 400;
    }

    > ol {
      display: grid;
      gap: 0.5rem;

      padding-inline-start: 2rem;

      > li {
        padding-inline-start: 0.5rem;

        font-weight: 300;

        &::marker {
          margin-inline-end: 2rem;

          font-size: 0.75em;
          font-weight: 100;
        }
      }
    }

    &:not(:first-child) {
      margin-block-start: 2rem;
    }
  }
}
