.cta-banner {
  margin-block: var(--section-margin-block);

  .card {
    background-image: linear-gradient(
      135deg,
      var(--color-primary) 0%,
      var(--color-primary) 40%,
      var(--color-primary-lighter) 45%,
      var(--color-primary) 60%,
      var(--color-primary) 100%
    );
    background-size: 400% 100%;
    background-clip: padding-box;

    color: var(--color-primary-opposite);

    display: grid;
    justify-items: center;
    gap: 2rem;

    padding: 2rem;

    border: 16px dashed transparent;
    border-radius: 2.5rem;

    outline: 4px dashed var(--color-default-foreground);
    outline-offset: -4px;

    text-align: center;

    animation: shiny-animation 2s ease-in-out infinite;

    .title {
      color: var(--color-gray-20);

      font-size: 2.25rem;

      .highlight {
        color: var(--color-gray-10);

        font-size: 4rem;
        font-weight: 900;
      }
    }

    .cta {
      font-size: 1.5rem;

      p {
        a {
          font-weight: 700;
          letter-spacing: 1px;
        }
      }
    }
  }
}

@keyframes shiny-animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}
