.cta-banner {
  filter: url("#ambient-filter");

  margin-block: calc(var(--section-margin-block) + 2rem);

  .card {
    background-image: linear-gradient(
      135deg,
      var(--color-primary) 0%,
      var(--color-primary) 40%,
      var(--color-primary-lighter) 45%,
      var(--color-primary) 60%,
      var(--color-primary) 100%
    );
    background-size: 400% 100%;
    background-clip: padding-box;

    color: var(--color-primary-opposite);

    display: grid;
    justify-items: center;
    gap: 2rem;

    padding: 2rem 1rem;

    border: 16px dashed transparent;
    border-radius: 2.5rem;

    outline: 4px dashed var(--color-text-1);
    outline-offset: -4px;

    text-align: center;

    animation: shiny-animation 2s ease-in-out infinite;

    .mobile-only {
      display: none;
    }

    .info {
      color: var(--color-text-3);

      font-size: var(--fz-600);

      .subtitle {
        display: flex;
        justify-content: center;
        gap: 0.5ch;
      }

      .title {
        color: var(--color-text-1);

        font-size: var(--fz-900);
        font-weight: 900;
      }

      .price {
        font-weight: 900;
      }
    }

    .cta {
      font-size: 1.5rem;

      a {
        font-weight: 700;
        letter-spacing: 1px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .cta-banner {
    filter: none;

    .mobile-only {
      display: revert;
    }

    .card {
      border-width: 8px;
      outline-width: 2px;
      outline-offset: -2px;

      .info {
        display: grid;
        gap: inherit;

        line-height: 1.25;

        .subtitle {
          flex-direction: column;
        }
      }

      .cta {
        display: grid;

        a {
          display: block;

          inline-size: max-content;

          margin-block: 0.25rem 0.125rem;
          margin-inline: auto;
        }
      }
    }
  }
}

@keyframes shiny-animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}
