.not-found {
  flex: 1 1 auto;

  display: grid;
  align-content: center;
  justify-items: center;
  gap: 1rem;

  padding-block: 2rem;

  h1 {
    font-size: 3rem;
  }

  a {
    text-decoration: underline;
  }
}
