.header {
  padding-block: 1rem;
  padding-inline: var(--full-width-padding-inline);

  h1 {
    font-size: var(--fz-700);
  }
}

.page {
  flex: 1 1 auto;

  > main {
    margin-block-end: 4rem;
  }
}
