:root {
  --color-gray-98: hsl(191deg 12% 98%);
  --color-gray-90: hsl(191deg 30% 90%);
  --color-gray-80: hsl(191deg 30% 80%);
  --color-gray-70: hsl(191deg 30% 70%);
  --color-gray-40: hsl(191deg 30% 40%);
  --color-gray-30: hsl(191deg 30% 30%);
  --color-gray-20: hsl(191deg 30% 20%);
  --color-gray-16: hsl(191deg 30% 16%);
  --color-gray-14: hsl(191deg 30% 14%);
  --color-gray-12: hsl(191deg 30% 12%);
  --color-gray-10: hsl(191deg 30% 10%);

  --color-default-background: var(--color-gray-98);
  --color-default-foreground: var(--color-gray-10);

  --color-primary: hsl(191deg 65% 60%);
  --color-primary-fade: hsl(191deg 65% 96%);
  --color-primary-lighter: hsl(191deg 65% 66%);
  --color-primary-darker: hsl(191deg 65% 54%);
  --color-primary-opposite: var(--color-gray-10);
}
