.header {
  display: flex;
  align-items: center;
  gap: 2rem;

  padding-block: 1rem;

  .logo {
    font-size: var(--fz-700);
    font-weight: 700;
  }

  nav a,
  .cta {
    &:hover {
      color: var(--color-primary);
    }
  }

  nav {
    margin-inline-start: auto;

    > ul {
      display: flex;
      gap: 2rem;
    }
  }
}

@media (max-width: 1000px) {
  .header {
    justify-content: center;

    nav {
      display: none;
    }

    .cta {
      display: none;
    }
  }
}
