.header {
  background-color: hsl(var(--hue) var(--sat) 98% / 50%);
  backdrop-filter: blur(5px);
  box-shadow: var(--shadow-400);

  position: sticky;
  inset-block-start: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  gap: 2rem;

  padding-block: 0.25rem;

  .logo {
    font-size: var(--fz-600);
    font-weight: 700;
  }

  nav a,
  .cta {
    &:hover {
      color: var(--color-primary);
    }
  }

  nav {
    margin-inline-start: auto;

    > ul {
      display: flex;
      gap: 2rem;
    }
  }
}

@media (max-width: 1000px) {
  .header {
    justify-content: center;

    nav {
      display: none;
    }

    .cta {
      display: none;
    }
  }
}
