.react-time-notice {
  margin-block: 4rem;

  p {
    font-size: 1.25rem;
    line-height: 1.7;
    text-align: center;

    .highlight {
      color: var(--color-react);

      font-weight: 700;
      font-style: italic;

      &::before,
      &::after {
        content: " ";
      }
    }
  }

  &.alternate {
    background-color: var(--color-gray-14);

    padding-block: var(--alternative-section-padding-block);
  }
}
