.react-time-notice {
  margin-block: var(--section-margin-block);

  p {
    text-align: center;

    .highlight {
      color: var(--color-react);

      font-weight: 700;
      font-style: italic;

      &::before,
      &::after {
        content: " ";
      }
    }

    &:not(:first-of-type) {
      margin-block-start: 0.5rem;
    }
  }

  &.alternate {
    background-color: var(--color-surface-floating);

    padding-block: var(--alternative-section-padding-block);
  }
}
