.features {
  margin-block: var(--section-margin-block);

  > ul {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0.5rem;

    > li {
      display: grid;
      place-items: center;

      padding: 0 1rem;

      border-radius: var(--border-radius);

      font-size: 1.5rem;

      text-align: center;

      cursor: default;

      &:not(.center) {
        background-image: linear-gradient(
          -45deg,
          var(--color-gray-10),
          var(--color-gray-20)
        );
        background-attachment: fixed;
        background-color: var(--transparent-light);
        background-blend-mode: screen;

        border: 1px solid var(--color-gray-30);

        transition: background-color 1s ease-in-out;

        &:hover {
          background-color: var(--glass-light);

          transition-duration: 0.1s;
        }
      }

      &.center {
        animation: heartbeat-animation 2s infinite;

        svg {
          color: var(--color-primary);

          block-size: 70%;
          inline-size: 70%;
        }
      }

      &:nth-child(1) {
        grid-column: span 3;
        grid-row: span 2;
      }

      &:nth-child(2) {
        grid-column: span 5;
        grid-row: span 2;
      }

      &:nth-child(3) {
        grid-column: span 4;
        grid-row: span 2;
      }

      &:nth-child(4) {
        grid-column: span 5;
        grid-row: span 2;
      }

      &:nth-child(5) {
        grid-column: span 3;
        grid-row: span 2;
      }

      &:nth-child(6) {
        grid-column: span 2;
        grid-row: span 4;
      }

      &:nth-child(7) {
        grid-column: span 2;
        grid-row: span 4;
      }

      &:nth-child(8) {
        grid-column: span 4;
        grid-row: span 2;
      }

      &:nth-child(9) {
        grid-column: span 4;
        grid-row: span 4;
      }

      &:nth-child(10) {
        grid-column: span 2;
        grid-row: span 4;
      }

      &:nth-child(11) {
        grid-column: span 2;
        grid-row: span 4;
      }

      &:nth-child(12) {
        grid-column: span 4;
        grid-row: span 2;
      }

      &:nth-child(13) {
        grid-column: span 3;
        grid-row: span 2;
      }

      &:nth-child(14) {
        grid-column: span 5;
        grid-row: span 2;
      }

      &:nth-child(15) {
        grid-column: span 4;
        grid-row: span 2;
      }

      &:nth-child(16) {
        grid-column: span 5;
        grid-row: span 2;
      }

      &:nth-child(17) {
        grid-column: span 3;
        grid-row: span 2;
      }
    }
  }
}

@keyframes heartbeat-animation {
  20% {
    transform: scale(1);
  }

  29% {
    transform: scale(1.1);
  }

  35% {
    transform: scale(1.05);
  }

  41% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(1);
  }
}
