.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-block: var(--footer-margin-block);

  text-align: center;

  .english {
    font-feature-settings: normal;
  }
}

@media (min-width: 1000px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
}
