.asymmetric-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  > li {
    flex: 1 0 auto;

    background-color: var(--color-gray-14);

    padding: 0.75rem 1rem;

    border-radius: var(--border-radius);

    text-align: center;
    line-height: 1;

    cursor: default;

    transition: background-color 1s ease-in-out;

    &[data-highlight] {
      background-color: var(--color-primary);
      color: var(--color-primary-opposite);
    }
  }

  &.hollow {
    > li {
      background-color: transparent;

      border: 3px solid var(--color-gray-14);
    }
  }

  @media (hover: hover) {
    &:not(.hollow) {
      > li {
        &:hover {
          background-color: var(--color-gray-20);

          transition-duration: 0.1s;
        }

        &[data-highlight] {
          &:hover {
            background-color: var(--color-primary-darker);
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .asymmetric-list {
    > li {
      padding: 1rem 2rem;
    }
  }
}
