.asymmetric-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  > li {
    flex: 1 0 auto;

    background-color: var(--color-gray-14);

    padding: 1rem 2rem;

    border-radius: var(--border-radius);

    font-size: 1.25rem;
    font-weight: 400;

    text-align: center;
    line-height: 1;

    cursor: default;

    transition: background-color 0.2s ease-in-out;

    &[data-highlight] {
      background-color: var(--color-primary);
      color: var(--color-primary-opposite);
    }
  }

  &:not(.hollow) {
    > li {
      &:hover {
        background-color: var(--color-gray-20);
      }

      &[data-highlight] {
        &:hover {
          background-color: var(--color-primary-darker);
        }
      }
    }
  }

  &.hollow {
    > li {
      background-color: transparent;

      border: 3px solid var(--color-gray-14);
    }
  }
}
