name: Deploy
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    uses: BijanProgrammerWebsites/hub/.github/workflows/deploy-nextjs.yml@master
    with:
      process-name: codective
      port: 3003
    secrets: inherit
